.button {
  display: block;
  padding: 0;
  width: 166px;
  height: 56px;
  align-items: center;
  background-color: #e44848;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover,
.button:active {
  background-color: #d84343;
}
