.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 72px;
  padding: 0 64px;
  border-bottom: 1px solid #f2f4f7;
  background-color: #f7f7f7;
  z-index: 1000;
}

.logo {
  text-decoration: none;
  color: #101828;
  font-weight: 900;
  font-size: 20px;
}

.span {
  color: #475467;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  gap: 32px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
  text-decoration: none;
}

.active {
  color: #d84343;
}
