.vehicleButton {
  display: inline-block;
  cursor: pointer;
}

.vehicleButton input {
  display: none;
}

.vehicleButton .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 2px 8px;
  width: 112px;
  height: 96px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  transition: border 0.3s ease;
}

.vehicleButton input:checked + .content {
  border: 1px solid #e44848;
}
