* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: 'Inter', sans-serif;
  color: 101828;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
