.camperList {
  width: 888px;
}

.camperItem {
  display: flex;
  width: 100%;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  gap: 24px;
}

.camperItem:not(:last-child) {
  margin-bottom: 32px;
}

.camperImage {
  width: 292px;
  height: 320px;
  object-fit: cover;
}

.camperWrapper {
  width: 100%;
}

.titleWrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
  margin-bottom: 8px;
}

.favoriteIcon {
  position: absolute;
  top: 0;
  right: 0px;
  cursor: pointer;
}

.camperName,
.camperPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.rewiewWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 24px;
}

.camperLocation {
  display: flex;
  gap: 2px;
}

.camperDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 24px;
  text-align: left;
}

.camperOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
  margin-bottom: 24px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.camperLink {
  text-decoration: none;
}
